.slide {
  width: 100%;
  height: 100%;
  background-color: beige;
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.slide_wrap {
  position: absolute;
  width: 100%;
  display: flex;
}
.slide_wrap_com {
  min-width: 100%;
  height: 500px;
  border: 1px solid black;
}
.slide_wrap_com:nth-child(1) {
  background-color: red;
}
.slide_wrap_com:nth-child(2) {
  background-color: blue;
}
.slide_wrap_com:nth-child(3) {
  background-color: green;
}
